body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/*----------------------------- Header styles------------------------------ */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-list {
  gap: 40px;
  display: flex;
  align-items: center;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/*----------------------------- Main styles------------------------------ */

.main-container {
  align-items: center;
  max-width: 1158px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  background: #2e2f42;
}

.hero-title {
  padding: 0;
  margin: 0 auto 48px;
  max-width: 496px;
}

.button-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
}

.button-header {
  display: block;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hero-section {
  background: #2e2f42;
}

.hero-section {
  padding-top: 188px;
  padding-bottom: 188px;
}

.button-header:hover,
.button-header:focus {
  color: #fff;
  background: #404bbf;
}

/*----------------------------- Features styles------------------------------ */

.features-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-subtitle {
  margin-bottom: 8px;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.features-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.features {
  padding: 120px 0;
}

.features-item {
  max-width: 264px;
}

/*----------------------------- Team styles------------------------------ */

.team-section {
  background: #f4f4fd;
}

.team-section {
  padding: 120px 0;
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team {
  padding: 120px 0;
  align-items: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0px 0px 120px;
}

.team-titles {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-card {
  padding: 32px 16px;
  overflow: hidden;
}

.team-item {
  background-color: #fff;
}

.team-item {
  border-radius: 0 0 4px 4px;
}

/*-------------------------Portfolio styles---------------------------------*/

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.portfolio-section {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-section {
  padding: 120px 0;
}

.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.portfolio {
  padding: 120px 0;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-title {
  margin-bottom: 8px;
}

.portfolio-list {
  gap: 48px 24px;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  padding: 0 0 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-list-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/*----------------------------- Footer styles------------------------------ */

.footer-logo .logo-part {
  color: #f4f4fd;
}

.page-footer {
  background-color: #2e2f42;
}

.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-text {
  max-width: 264px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
