body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*----------------------------- Header styles------------------------------ */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: #404bbf;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-list {
  gap: 40px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
  color: #404bbf;
}

/*----------------------------- Main styles------------------------------ */

.main-container {
  align-items: center;
  max-width: 1158px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-title {
  padding: 0;
  margin: 0 auto 48px;
  max-width: 496px;
}

.button-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
}

.button-header {
  display: block;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hero-section {
  background: #2e2f42;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-office1-bg.jpg");
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section {
  padding-top: 188px;
  padding-bottom: 188px;
}

.button-header:hover,
.button-header:focus {
  color: #fff;
  background: #404bbf;
}

/*----------------------------- Features styles------------------------------ */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-subtitle {
  margin-bottom: 8px;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.features-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.features {
  padding: 120px 0;
}

.features-item {
  max-width: 264px;
}

.features-icons-in {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
}

/*----------------------------- Team styles------------------------------ */

.team-section {
  background: #f4f4fd;
}

.team-section {
  padding: 120px 0;
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team {
  align-items: center;
  margin-bottom: 72px;
  display: block;
}

.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-titles {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-card {
  padding: 32px 16px;
  overflow: hidden;
}

.team-item {
  background-color: #fff;
}

.team-item {
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-icons {
  justify-content: center;
}

.team-icons {
  display: flex;
  gap: 16px;
  margin-top: 8px;
}

.icon-team {
  display: inline-flex;
  padding: 12px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team {
  fill: #f4f4fd;
  background-color: #4d5ae5;
}

.team-icons-list {
  display: flex;
}

/*-------------------------Portfolio styles---------------------------------*/

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.portfolio-section {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-section {
  padding: 120px 0;
}

.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.portfolio {
  display: block;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-title {
  margin-bottom: 8px;
  transition-property: color, background-color;
}

.portfolio-list {
  gap: 48px 24px;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  position: relative;
}

.portfolio-item:hover .portfolio-item-text {
  transform: translateY(0);
}

.portfolio-item-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-list-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/*----------------------------- Footer styles------------------------------ */

.footer-logo .logo-part {
  color: #f4f4fd;
}

.page-footer {
  background-color: #2e2f42;
}

.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-about {
  margin-right: 120px;
}

.footer-media {
  width: 208px;
  height: 80px;
  display: block;
  margin-bottom: 132px;
}

.footer-text {
  max-width: 264px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-media-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.team-icons {
  display: flex;
  gap: 16px;
}
